# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# 2 space indentation
[*.{js,jsx,json,yml,yaml,html,cwl,tsx,ts}]
indent_style = space
indent_size = 2
ij_javascript_force_semicolon_style = true
ij_typescript_force_semicolon_style = true
ij_typescript_use_double_quotes = true
ij_javascript_use_double_quotes = true
ij_javascript_force_quote_style = true
ij_typescript_force_quote_style = true

[*.{md,Rmd,rst}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
