[flake8]
ignore = W605, F401, E501, E125, E126
max-line-length = 120
exclude = tests,
          docs,
          .git,
          .venv,
          venv,
          debug,
          build,
          dist,
          images,
          js,
          *.egg-info
          .tox
per-file-ignores =
    recce/adapter/dbt_adapter.py: E402
