[flake8]
ignore = W605, F401, E501, E125, E126, W504, E203, W503, F841, F541, F811
max-line-length = 120
include = recce,
          tests
exclude = docs,
          .git,
          .venv,
          venv,
          debug,
          build,
          dist,
          images,
          js,
          *.egg-info
          .tox
per-file-ignores =
    recce/adapter/dbt_adapter.py: E402
