venv
.idea/
*.egg-info/
__pycache__/
.vscode/
dist/
.envrc

dbt.log
coverage.xml
.coverage
.coverage.*
build
.tox
.noai
.DS_Store

recce.yml

# Generated VERSION file for recce-cloud package
recce_cloud/VERSION
