.index-column {
  color: rgb(128, 128, 128);
  text-align: right;
}


.diff-header-added {
  background-color: #3aa53a;
  color: white;
}

.diff-cell-added {
  background-color: #cefece;
  color: black;
}

.diff-header-removed {
  background-color: #ff6666;
  color: white;
}

.diff-cell-removed {
  background-color: #ffc5c5;
  color: black;
}

.diff-cell-modified {
  background-color: #ffc5c5;
  color: black;
}

.cell-show-context-menu {
  overflow: visible;
}

.grid-header:hover .pin-icon {
  display: block;
}

.grid-header:hover .key-icon {
  display: block;
}

.rdg-cell {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: var(--rdg-border-color);
}

.rdg-row:hover .row-context-menu {  
  visibility: visible;
  width: auto;
}