name: "[DEPRECATED] Node.js - Build & Auto-Commit to CLI data/report/**"
# This workflow is deprecated. Please use the Nightly Build workflow instead. Remove this file after migration is complete on February 1, 2026.

on:
  pull_request:
    types:
      - closed
      # Trigger when PR is closed
    paths:
      - "js/**"
      # Trigger when diffs detected in js sources
    branches:
      - main
      - release/**
      # Only PR target are `main` or `release/**` branches
  # Trigger manually
  workflow_dispatch:

jobs:
  if_merged_build:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write

    defaults:
      run:
        shell: bash
        working-directory: ./js

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: 2343362 # App ID of Recce Action Bot
          private-key: ${{ secrets.RECCE_ACTION_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install dependencies
        working-directory: ./js
        run: |
          pnpm install --frozen-lockfile
          uv pip install --system pre-commit


      - name: Build Apps
        run: pnpm run build

      - name: Pull Remote Changes (before AC)
        run: git pull origin ${{ github.base_ref || github.ref_name }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: AUTO-COMMIT - build js statics to recce data/
          branch: ${{ github.base_ref || github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}
          #          push_options: --force
          # Auto-commits to target merge branch
