name: Run Smoke Test (DBT)

on:
  push:
    branches:
      - main
    paths-ignore:
      - "js/**"
      - "recce/data/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "js/**"
      - "recce/data/**"

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.9"
            dbt-version: "1.6"
          - python-version: "3.11"
            dbt-version: "1.7"
          - python-version: "3.12"
            dbt-version: "1.8"
          - python-version: "3.13"
            dbt-version: "latest"
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install Recce and dbt
        run: |
          uv venv
          uv sync --no-dev --python ${{ matrix.python-version }}
          if [ "${{ matrix.dbt-version }}" == "latest" ]; then
            uv pip install dbt-core dbt-duckdb
          else
            uv pip install dbt-core~=${{ matrix.dbt-version }}.0 dbt-duckdb~=${{ matrix.dbt-version }}.0
          fi

      - name: Run smoke test - dbt
        run: |
          source .venv/bin/activate
          ./integration_tests/dbt/smoke_test.sh
