name: Run Smoke Test (SQLMesh)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install Recce and SQLMesh
        run: |
          uv sync --no-dev --python 3.11
          uv pip install sqlmesh

      - name: Run sqlmesh
        run: |
          ./integration_tests/sqlmesh/prep_env.sh

      - name: Run smoke test
        run: |
          ./integration_tests/sqlmesh/test_server.sh
